@import "file.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* background-color: #1C778C; */

.App-header {
  background-image: linear-gradient(#083D4F, #10839E, #083D4F);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  background-color: transparent;
  color: white;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 25px;
  border: 3px solid white;
  margin: 10px 0px;
  cursor: pointer;
}
  /* @media all and (max-width:30em){
   a.button2{
    display:block;
    margin:0.4em auto;
   }
  } */

  #input {
    border: none;
  }

  h1 {
    font-family: GilroyHeavy;
    letter-spacing: .2rem;
  }

  p {
    font-family: GilroyLight;
  }

  input{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid white;
  }

/* alt + shift + a  || ctrl + / */  
/* PAINT APP CSS */
.paint-app {
  background-color: #1C778C;
}

.toolButton {
  background-color: #1C778C;
  border: none;
  padding: 20px 10px;
}

.bottom-tools {
  background-color: #1C778C;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}



.top-tools .toolButton, .bottom-tools .toolButton {
  padding: 2% 5%;
}